@model MovieSearch.Models.Movie
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>@Localizer["Movie"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Year"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Country"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["OveralRating"]
        </dt>
        <dd class = "col-sm-10">
            <rating class="rating-details">@Model.OveralRating</rating>
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Genre"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn badge-primary">@Localizer["Back"]</a>
    </form>
</div>
