@model MovieSearch.ViewModels.Movies.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/reviews.css" />
<h1>Details</h1>

<div class="row">

    <div class="col-md-3">
        <img class="img-thumbnail" src="@Model.Movie.Image" alt="@Model.Movie.Name" />
        @if (User.Identity.IsAuthenticated)
        {
            <div class="div-m-b">
                <form asp-action="Vote" asp-controller="Vote">

                    <input type="hidden" asp-for="Mark.Id" />
                    <input type="hidden" name="Mark.MovieId" asp-for="Movie.Id" />
                    <input type="hidden" asp-for="Mark.UserProfileId" />
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            @for (int i = 10; i > 0; i--)
                            {
                                <input class="star-rating__input" id=@($"star-rating-{i}") type="radio" asp-for="Mark.Value" value=@($"{i}") onclick="this.form.submit()">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for=@($"star-rating-{i}") title=@($"{i} out of 10 stars")></label>
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="div-m-b">
                <form asp-action="AddDeleteFavouriteMovie" asp-controller="Vote">

                    <input type="hidden" name="id" value="@Model.Movie.Id" />
                    <input type="submit" value="@Model.IsFavourite" class="btn btn-primary" />
                </form>
            </div>
        }
    </div>

    <div class="col-md-9">
        <h4>About movie</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Year)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Country)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Country)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Genre.Name)
            </dd>
        </dl>
        <hr />
    </div>
</div>
<div class="col-md-7">
    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
    {
        <div class="div-m-b">
            <p>
                <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Movie.Id">Delete</a> |
                <a asp-action="Index">Back to List</a>
            </p>
        </div>
    }

    <div class="div-m-b " style="padding: 0">
        <h4>Description</h4>
        <p>@Model.Movie.Title</p>
    </div>

    <div class="div-m-b">
        <span>
            <span style="margin-right:10px; font-size:1.5rem;">Movie rating:</span>
            <rating class="rating-details">@Model.Movie.OveralRating</rating>
        </span>
    </div>

    <div class="div-m-b-p">
        <p style="margin-bottom:10px; font-size:1.5rem;">Reviews</p>
        <a asp-action="Create" asp-controller="Reviews" asp-route-movieId="@Model.Movie.Id"
           class="btn btn-info" style="margin-bottom: 10px;"><i class="fa fa-comment"></i> Write review</a>
        @foreach (var review in Model.Reviews)
        {
            <div style="display:flex;">
                <section class="col-md-12">
                    <div class="review_head">
                        <div style="display:flex">
                            <div class="img_avatar">
                                @if (review.UserProfile.User.ProfilePicture != null)
                                {<img class="review_avatar" src="data:image/*;base64,@(Convert.ToBase64String(review.UserProfile.User.ProfilePicture?.Picture))" />
                                }
                                else
                                {
                                    <img class="review_avatar" src="" />
                                }
                            </div>
                            <div class="review_head_info">
                                <a asp-controller="UserMovies" asp-action="Favourites" asp-route-userId="@review.UserProfile.UserId">@review.UserProfile.User.UserName</a>
                                <span style="font-size: 13px;">@review.UserProfile.Reviews.Count reviews</span>
                            </div>
                        </div>
                        <div style="display:flex; align-items:flex-end; margin-left: auto;">
                            <span style="font-size: 13px;">@review.Date.ToString("g")</span>
                        </div>
                    </div>
                    <div class="review_body">
                        <div style="font-size: 16px; line-height: 20px; white-space: pre-line">
                            <span>@review.Content</span>
                        </div>
                    </div>
                </section>

                @if (Model.Reviews != null && Model.Mark != null)
                {
                    @if (User.Identity.IsAuthenticated && (review.UserProfileId == Model.Mark.UserProfileId))
                    {
                        <div>
                            <a class="btn btn-success btn-sm rounded-0" style="margin-bottom: 10px;"
                               asp-action="Edit" asp-controller="Reviews" asp-route-id="@review.Id">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a class="btn btn-danger btn-sm rounded-0"
                               asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.Id">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    }
                }
                else if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator"))
                {
                    <a class="btn btn-danger btn-sm rounded-0"
                       asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                }
            </div>
        }

    </div>
</div>