@model MovieSearch.ViewModels.Movies.MovieDetailsViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Details"];
}
<link rel="stylesheet" href="~/css/reviews.css" />
<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-md-3">
        <img class="img-thumbnail" src="@Model.Movie.Image" alt="@Model.Movie.Name" />
        @if (User.Identity.IsAuthenticated)
        {
            <div class="div-m-b">
                <form asp-action="Vote" asp-controller="Vote" id="form-details-mark">

                    <input type="hidden" asp-for="Mark.Id" />
                    <input type="hidden" id="Mark_MovieId" name="Mark.MovieId" asp-for="Movie.Id" />
                    <input type="hidden" asp-for="Mark.UserProfileId" />
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <input class="star-rating__input" id=@($"star-rating-{i}") type="radio" asp-for="Mark.Value" value=@($"{i}")>
                                <label class="star-rating__ico fa fa-star-o fa-lg" for=@($"star-rating-{i}") title="@i of 10"></label>
                            }
                            <i class="fa fa-times cancel-rating__input"></i>
                        </div>
                    </div>

                </form>
            </div>
            <div class="div-m-b">
                <form asp-action="AddDeleteFavouriteMovie" asp-controller="UserMovies">

                    <input type="hidden" name="Id" value="@Model.Movie.Id" />
                    <button type="button" class="btn btn-primary btn-fav">@Model.IsFavourite</button>


                    @*<input type="submit" value="@Model.IsFavourite" class="btn btn-primary" />*@
                </form>
            </div>
        }
    </div>

    <div class="col-md-9">
        <h4>@Localizer["About"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Year)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Country)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Country)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Genre.Name)
            </dd>
        </dl>
        <hr />
    </div>
</div>
<div class="col-md-7">
    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
    {
        <div class="div-m-b">
            <p>
                <a asp-action="Edit" asp-route-id="@Model.Movie.Id">@Localizer["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@Model.Movie.Id">@Localizer["Delete"]</a> |
                <a asp-action="Index">@Localizer["Back"]</a>
            </p>
        </div>
    }

    <div class="div-m-b " style="padding: 0">
        <h4>@Localizer["Description"]</h4>
        <p>@Model.Movie.Title</p>
    </div>

    <div class="div-m-b">
        <span>
            <span style="margin-right:10px; font-size:1.5rem;">@(Localizer["Rating"]):</span>
            <span class="rating-details">@Model.Movie.OveralRating</span>
        </span>
    </div>

    <div class="div-m-b-p">
        <p style="margin-bottom:10px; font-size:1.5rem;">@Localizer["Reviews"]</p>
        <a asp-action="Create" asp-controller="Reviews" asp-route-movieId="@Model.Movie.Id"
           class="btn btn-info" style="margin-bottom: 10px;"><i class="fa fa-comment"></i> @Localizer["Write"]</a>
        @foreach (var review in Model.Reviews)
        {
            <div style="display:flex;">
                <section class="col-md-12">
                    <div class="review_head">
                        <div style="display:flex">
                            <div class="img_avatar">
                                @if (review.UserProfile.User.ProfilePicture != null)
                                {<img class="review_avatar" src="data:image/*;base64,@(Convert.ToBase64String(review.UserProfile.User.ProfilePicture?.Picture))" />
                                }
                                else
                                {
                                    <img class="review_avatar" src="" />
                                }
                            </div>
                            <div class="review_head_info">
                                <a asp-controller="UserMovies" asp-action="Favourites" asp-route-userId="@review.UserProfile.UserId">@review.UserProfile.User.UserName</a>
                                <span style="font-size: 13px;">@review.UserProfile.Reviews.Count @Localizer["Reviews"].Value.ToLower()</span>
                            </div>
                        </div>
                        <div style="display:flex; align-items:flex-end; margin-left: auto;">
                            <span style="font-size: 13px;">@review.Date.ToString("g")</span>
                        </div>
                    </div>
                    <div class="review_body">
                        <div style="font-size: 16px; line-height: 20px; white-space: pre-line">
                            <span>@review.Content</span>
                        </div>
                    </div>
                </section>

                @if (User.Identity.IsAuthenticated)
                {
                    @if (review.UserProfileId == Model.ProfileId)
                    {
                        <div>
                            <a class="btn btn-success btn-sm rounded-0" style="margin-bottom: 10px;min-width:29px;"
                               asp-action="Edit" asp-controller="Reviews" asp-route-id="@review.Id">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a class="btn btn-danger btn-sm rounded-0" style="min-width:29px"
                               asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.Id">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    }

                    else if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator"))
                    {

                        <div>
                            <a class="btn btn-danger btn-sm rounded-0" style="min-width:29px"
                               asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.Id">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>

                    }
                }
            </div>
        }

    </div>
</div>