@model MovieSearch.ViewModels.Movies.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/stars.css" />

<h1>Details</h1>

<div class="row">

    <div class="col-md-3">
        <img class="img-thumbnail" src="@Model.Movie.Image" alt="@Model.Movie.Name" />
        @if (User.Identity.IsAuthenticated)
        {
            <div class="div-m-b">
                <form asp-action="Vote" asp-controller="Vote">

                    <input type="hidden" asp-for="Mark.Id" />
                    <input type="hidden" name="Mark.MovieId" asp-for="Movie.Id" />
                    <input type="hidden" asp-for="Mark.UserProfileId" />
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            @for (int i = 10; i > 0; i--)
                            {
                                <input class="star-rating__input" id=@($"star-rating-{i}") type="radio" asp-for="Mark.Value" value=@($"{i}") onclick="this.form.submit()">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for=@($"star-rating-{i}") title=@($"{i} out of 10 stars")></label>
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="div-m-b">
                <form asp-action="AddDeleteFavouriteMovie" asp-controller="Vote">

                    <input type="hidden" name="id" value="@Model.Movie.Id" />
                    <input type="submit" value="@Model.IsFavourite" class="btn btn-primary" />
                </form>
            </div>


        }
    </div>

    <div class="col-md-9">
        <h4>About movie</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Year)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Country)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Country)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Movie.Genre.Name)
            </dd>
        </dl>
        <hr />
    </div>
</div>

<div class="div-m-b">
    <h4>Description</h4>
    <p>@Model.Movie.Title</p>
</div>

<div class="div-m-b">
    <span>
    <span style="margin-right:10px; font-size:1.5rem;">Movie rating:</span> 
    <rating class="rating-details">@Model.Movie.OveralRating</rating>
    </span>
</div>

<div class="div-m-b">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Movie.Id">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </p>
    }
    else
    {
        <a class="btn btn-warning" asp-action="Index">Back to List</a>
    }
</div>
