@model MovieSearch.ViewModels.Movies.MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/dropdown.css" />

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{<p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="div-m row">
    <form asp-action="Index" method="get">
        <p>
            <select class="wrapper-dropdown-3" name="genreId" asp-items="Model.Genres" 
                    onchange="document.location = '/?genreId=' + this.value">
                <option value="">All</option>
            </select>
        </p>
    </form>
    <form asp-action="IndexSearch" method="get">
        <p>
            <input class="wrapper-dropdown-3-search" type="search" value="@ViewBag.SearchValue" name="searchValue" 
                   placeholder="Search..." />
            <button class="button-search" type="submit" value="Search"></button>
        </p>
    </form>
</div>

<h1>All movies</h1>
<div class="row mt-5 mb-2">
    @foreach (var item in Model.Movies)
    {
        <div class="col-lg-4 mt-lg-2">
            <a style="text-decoration:none" asp-action="Details" asp-route-id="@item.Id">
                <img class="img-thumbnail" src="@item.Image" alt="@item.Name" />
                <span class="index-film-rating">@item.OveralRating</span>
            </a>
            <h2>@item.Name, @item.Year</h2>
            <p>@item.Genre.Name</p>
            <p>@item.Country</p>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </p>

            }
            else
            {
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
            }
        </div>
    }
</div>


