@model MovieSearch.Models.Review
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>
        @Localizer["Review"] @Html.ActionLink(Model.Movie.Name + $"({Model.Movie.Year})",
"Details",
"Movies",
new { id = Model.MovieId })
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Content"]
        </dt>
        <dd class="col-sm-10">
            @Html.TextAreaFor(model => model.Content, new { disabled = "disabled", @class = "form-control", style = "width: 400px;" })
        </dd>
        <dt class="col-sm-2">
            @Localizer["Date"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd class>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Details" asp-controller="Movies" asp-route-id="@Model.MovieId">
        @Localizer["Cancel"]</a>
    </form>
</div>
