@model MovieSearch.ViewModels.UserMovies.UserMoviesViewModel
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["Favourites"];
    ViewData["ActivePage"] = "Favourites";
}

<h4 style="margin-bottom:10px;">@ViewData["Title"]</h4>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["Movie"]
            </th>
            @if (Model.ForCurrentUser)
            {
                <th>
                    @Localizer["MyMark"]
                </th>
            }
            else
            {
                <th>
                    @Localizer["Mark"]
                </th>
            }
            <th>
                @Localizer["Rating"]
            </th>

            <th>
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.MoviesAndMarks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Movie.Name + $"({item.Movie.Year})",
                   "Details",
                   "Movies",
                   new { id = item.Movie.Id })
                </td>

                <td>
                    <rating class="rating-details">@item.Mark?.Value</rating>
                </td>

                <td>
                    <rating class="rating-details">@item.Movie.OveralRating</rating>
                </td>
                @if (Model.ForCurrentUser)
                {
                    <td>
                        <form asp-action="AddDeleteFavouriteMovie">

                            <input type="hidden" name="id" value="@item.Movie.Id" />
                            <input type="hidden" asp-for="ReturnUrl" />
                            <button type="button" class="btn btn-info btn-fav">@Localizer["Delete"]</button>
                            @*<input type="submit" value="Delete" class="btn btn-info" />*@
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-info" title="@item.Movie.Name" asp-action="Details" asp-controller="Movies" asp-route-id="@item.Movie.Id">@Localizer["Add"]</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

