@model MovieSearch.ViewModels.UserMovies.UserMoviesIndexViewModel;

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = MovieSearch.Views.UserMovies.UserMoviesNavigate.Index;
}

<h4>@ViewData["Title"]</h4>
@foreach (var item in Model.FavMovies)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OveralRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
    </tr>
}
