@model MovieSearch.ViewModels.UserMovies.UserMoviesViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ViewedMovies"];
    ViewData["ActivePage"] = "ViewedMovies";
}

@if (Model.ForCurrentUser)
{
    <h4 style="margin-bottom:10px;">
        @ViewData["Title"]

    </h4>
}
else
{
    <h4 style="margin-bottom:10px;">
        @($"{Model.UserName}'s {ViewBag.Title.Value.ToLower()}")
    </h4>
}


<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["Movie"]
            </th>
            @if (Model.ForCurrentUser)
            {
                <th>
                    @Localizer["MyMark"]
                </th>
            }
            else
            {
                <th>
                    @($"{Model.UserName}'s") @Localizer["Mark"].Value.ToLower() 
                </th>
            }
            <th>
                @Localizer["Rating"]
            </th>
            <th>
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.MoviesAndMarks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Movie.Name + $"({item.Movie.Year})",
                   "Details",
                   "Movies",
                   new { id = item.Movie.Id })
                </td>
                <td>
                    <rating class="rating-details">@item.Mark.Value</rating>
                </td>
                <td>
                    <rating class="rating-details">@item.Movie.OveralRating</rating>
                </td>
                @*@if (Model.ForCurrentUser)
                    {
                        <td>
                            <form asp-action="Vote" asp-controller="Vote">

                                <input type="hidden" asp-for="ReturnUrl" />
                                <input type="hidden" id="Mark_Id" name="Id" value="@item.Mark.Id" />
                                <input type="hidden" id="Mark_MovieId" name="MovieId" value="@item.Movie.Id" />
                                <input type="hidden" id="Mark_UserProfileId" name="UserProfileId" value="@item.Mark.UserProfileId" />
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="ddBtn">
                                        Give a mark
                                    </button>
                                    <div class="dropdown-menu" style="min-width:14rem;" aria-labelledby="ddBtn">
                                        <div class="dropdown-item star-rating" style="padding: 0;">
                                            <div class="star-rating__wrap">
                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    <input class="star-rating__input" id=@($"star-rating-{i}") type="radio" name="Value" asp-for="@item.Mark.Value" value=@($"{i}")>
                                                    <label class="star-rating__ico fa fa-star-o fa-lg" style="margin-bottom:0;" for=@($"star-rating-{i}") title="@i of 10 "></label>
                                                }
                                                <i class="fa fa-times cancel-rating__input"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </td>
                    }
                    else
                    {
                        }*@
                <td>
                    <a class="btn btn-info" title="@item.Movie.Name" asp-action="Details" asp-controller="Movies" asp-route-id="@item.Movie.Id">@Localizer["Rate"]</a>
                </td>

            </tr>
        }
    </tbody>
</table>
